*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}



.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
 
  background: linear-gradient(217deg, rgba(12,159,171,0.7626400902157738) 0%, rgba(203,234,240,1) 100%);
  width: 100vw;
  height: 100vh;
  
}